datasets/makers_2_wheelers.csv
datasets/makers_4_wheelers.csv
datasets/state_2_wheelers.csv
datasets/state_4_wheelers.csv
t2.ipynb
primary_and_secondary_questions.pdf
meta_data.txt
data_processing.txt
Codebasics_EV_Analysis_Report.md